<h1 mat-dialog-title>Receive</h1>
<div mat-dialog-content>
  <div>
    <label>Your address:</label>
    <a ngxClipboard [cbContent]="address" (click)="onCopiedClick()">copy</a>
  </div>
  <div>
    <div class="myAddress">
      <code>{{ address }}</code>
    </div>
    <div class="text-center" *ngIf="copied">
      <span class="badge badge-success col">Your address has been copied to your clipboard.</span>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok</button>
</div>