<h1 mat-dialog-title>Send</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Amount" type="number" [(ngModel)]="data.amount">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Destination Address" [(ngModel)]="data.destinationAddress">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" [(ngModel)]="data.password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Send</button>
</div>