.nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .nav-app-name {
    margin-left: 8px;
  }
  
  .nav-sidenav-container {
    flex: 1;
  }
  